---
title: Blog
layout: blogMainLayout.liquid
pagination:
  data: collections.blog
  size: 2
  alias: blogs
---

<section class="blog-greeting">
    <h1>{{title}}</h1>
    <p></p>
    <section class="blog-articles">

{% for blog in blogs %}
<a href="{{blog.url}}" class ="blog-link-hover">
  <section  class="blog-item">
        <div class = "blog-item-image" style ="background-image:url({{blog.data.heroImage}})">
        </div>
        <div class = "blog-item-details">
          <span class = "blog-item-details-date">{{blog.data.blogDate}}</span>
          <h2>{{blog.data.title}}</h2>
          <p class = "blog-item-details-excerpt">{{blog.data.excerpt}}</p> 
          <!-- - [{{blog.data.title}}]({{blog.url}}) -->
            <h3 class = "read-more">Read more</h3>
        </div>
  </section>
</a>
{% endfor %}

{% if pagination.href.previous %}<a href="{{pagination.href.previous}}">Previous Page</a>{% endif %}
{% if pagination.href.next %}<a href="{{pagination.href.next}}">Next Page</a>{% endif %}

</section>
</section>
